[data]
    git_name = {{ promptStringOnce . "git_name" "Git user.name" | quote }}
    git_email = {{ promptStringOnce . "git_email" "Git email" | quote }}
    git_signingkey = {{ promptStringOnce . "git_signingkey" "Git signing key" | quote }}
    onepassword_ssh_item = {{ promptStringOnce . "onepassword_ssh_item" "1Password SSH item name" | quote }}
    onepassword_ssh_vault = {{ promptStringOnce . "onepassword_ssh_vault" "1Password SSH vault name" | quote }}
